<%# <div class="offset-md-3 col-md-6"> %>
  <div class="card mb-3">
    <h5 class="card-header">
      Sign up
    </h5>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum.</small>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :username, class: "form-label" %>
          <%= f.text_field :username, autocomplete: "username", class: "form-control", placeholder: "Enter username" %>
        </div>

        <div class="form-group">
          <%= f.label :avatar_image, "Avatar image", class: "form-label" %>
          <%= f.file_field :avatar_image, class: "form-control", placeholder: "Enter avatar image" %>
        </div>

        <div class="d-grid">
          <%= f.submit "Create User", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>

    <div class="card-footer">
      <div class="d-grid">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<%# </div> %>
